/* Orders.css */
.order-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px #fefdfd1a;
}

h2 {
  color: #e608d7;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Botón general */
button {
  background-color: #c04cb1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #9f0392;
}

/* Tabla de órdenes */
.orders-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(241, 81, 81, 0.1);
  color: #fff;
}

.orders-table th,
.orders-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.orders-table th {
  background-color: #444;
  font-weight: bold;
}

.orders-table tr:hover {
  background-color: #555;
}

.orders-table button {
  background-color: #dc3545;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.orders-table button:hover {
  background-color: #c82333;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(82, 3, 72);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.modal button {
  background-color: #f44336;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #e53935;
}
